<%= render :partial => 'menu_clientes' %>
<div class="grid_10">
	<div class="box round">
<h2>Listar clientes</h2>

<table>
  <tr>
    <th>Nome</th>
    <th>Cpf</th>
    <th>Rg</th>
    <th>Logradouro</th>
    <th>Caixa postal</th>
    <th>Cidade</th>
    <th>Bairro</th>
    <th>Uf</th>
    <th>Telefone1</th>
    <th>Telefone2</th>
    <th>Desativado</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nome %></td>
    <td><%= cliente.cpf %></td>
    <td><%= cliente.rg %></td>
    <td><%= cliente.logradouro %></td>
    <td><%= cliente.caixa_postal %></td>
    <td><%= cliente.cidade %></td>
    <td><%= cliente.bairro %></td>
    <td><%= cliente.uf %></td>
    <td><%= cliente.telefone1 %></td>
    <td><%= cliente.telefone2 %></td>
    <td><%= cliente.desativado %></td>
    <td><%= link_to 'Show', cliente %></td>
    <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Destroy', cliente, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cliente', new_cliente_path %>
</div>
</div>

