<%= form_for(@rota_item) do |f| %>
  <% if @rota_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rota_item.errors.count, "error") %> prohibited this rota_item from being saved:</h2>

      <ul>
      <% @rota_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rota_id %><br />
    <%= f.number_field :rota_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br />
    <%= f.text_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :tipo_item %><br />
    <%= f.number_field :tipo_item %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
