<%= form_for(@nota_entrada) do |f| %>
  <% if @nota_entrada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nota_entrada.errors.count, "error") %> prohibited this nota_entrada from being saved:</h2>

      <ul>
      <% @nota_entrada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
  	<tr>
  		<td>
  			<div class="field">
			    <%= f.label :numero %><br />
			    <%= f.text_field :numero, :size => '10' %>
		    </div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :data_emissao %><br />
			    <%= f.date_select :data_emissao %>
		    </div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :data_entrada %><br />
			    <%= f.date_select :data_entrada %>
		    </div>
  		</td>
  	</tr>
  	<tr>
  		<td>
  			<div class="field">
			    <%= f.label :fornecedor %><br />
			     <%= select("post", "Fornecedor", Fornecedor.all.collect {|p| [ p.descricao, p.id ] }, {:include_blank => 'Selecione um fornecedor'}) %>
  			</div>
  		</td>
  		<td>
  			 <div class="field">
			    <%= f.label :valor_produtos %><br />
			    <%= f.text_field :valor_produtos, :size => '10' %>
		  	</div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :valor_despesas %><br />
			    <%= f.text_field :valor_despesas, :size => '10' %>
		  	</div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :valor_total %><br />
			    <%= f.text_field :valor_total, :size => '10' %>
		  	</div>
  		</td>
  	</tr>
  </table>
 <input type="text" size="10" id="codigo_produto"/>
 <input type="text" size="50" id="descricao_produto"/>
 <input type="button" value="Inserir" onclick="inseri_produto();"/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

 <style>
	.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }
	#city { width: 25em; }
	</style>
	<script>
	$(function() {
		function log( message ) {
			$( "<div/>" ).text( message ).prependTo( "#log" );
			$( "#log" ).scrollTop( 0 );
		}

		$( "#descricao_produto" ).autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "/pesquisa_nota_entrada",
					dataType: "jsonp",
					data: {
						featureClass: "P",
						style: "full",
						maxRows: 12,
						name_startsWith: request.term
					},
					success: function( data ) {
						response( $.map( data.geonames, function( item ) {
							return {
								label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
								value: item.name
							}
						}));
					}
				});
			},
			minLength: 2,
			select: function( event, ui ) {
				log( ui.item ?
					"Selected: " + ui.item.label :
					"Nothing selected, input was " + this.value);
			},
			open: function() {
				$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			},
			close: function() {
				$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			}
		});
	});
	</script>
