<%= form_for(@nota_entrada) do |f| %>
<%= csrf_meta_tags %>
  <% if @nota_entrada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nota_entrada.errors.count, "error") %> prohibited this nota_entrada from being saved:</h2>

      <ul>
      <% @nota_entrada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
  	<tr>
  		<td>
  			<div class="field">
			    <%= f.label :numero %><br />
			    <%= f.text_field :numero, :size => '10' %>
		    </div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :data_emissao %><br />
			    <input type="text" value="" id="data_emissao">
		    </div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :data_entrada %><br />
			    <input type="text" value="" id="data_entrada">
		    </div>
  		</td>
  	</tr>
  	<tr>
  		<td>
  			<div class="field">
			    <%= f.label :fornecedor %><br />
			    <%= select("fornecedor", "id", @fornecedores_nota_entrada.collect {|p| [ p.descricao, p.id ] }, {:include_blank => 'Selecione um fornecedor'}) %>
  			</div>
  		</td>
  		<td>
  			 <div class="field">
			    <%= f.label :valor_produtos %><br />
			    <%= f.text_field :valor_produtos, :size => '10' %>
		  	</div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :valor_despesas %><br />
			    <%= f.text_field :valor_despesas, :size => '10' %>
		  	</div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :valor_total %><br />
			    <%= f.text_field :valor_total, :size => '10' %>
		  	</div>
  		</td>
  	</tr>
  </table>
 <table id="inseri_item">
 		<tr>
 			<th>Código</th>
 			<th>Descrição</th>
 			<th>Quantidade</th>
 			<th>Valor Unitário</th>
 			<th>Total</th>
 			<th></th>
 		</tr>
 	<tr>
		 <td><input type="text" size="10" id="codigo_produto" onblur="pesquisa_produto(this.value);"/></td>
		 <td><input type="text" size="50" id="descricao_produto" name="descricao_produto"  class="ui-autocomplete-input ui-corner-all" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"	/></td>
		 <td><input type="text" size="5" id="quantidade_produto" name="quantidade_produto" onchange="atualiza_total_item();"/></td>
		 <td><input type="text" size="5" id="valor_unitario" name="valor_unitario" onchange="atualiza_total_item();"/></td>
		 <td><input type="text" size="5" id="valor_total_item" disabled="true"></td>
		 <td><input type="button" value="Inserir" onclick="valida_produto();"/></td>
	</tr>
 </table>
  	<input type="button" value="Fechar Nota" onclick="valida_nota_entrada();"/>
	<input type="button" value="Cancelar Nota" />
	<div id="valor_total_nota"><%= @valor_total_nota %></div>
<table id='items_table'>
	<table>
		<tr>
			<th>Codigo</th>
			<th>Descricão</th>
			<th>Quantidade</th>
			<th>Valor unitário</th>
			<th>Total</th>
			<th>Excluir</th>	
		</tr>
		<% if not session[:nota_entrada_itens].nil? %>
			<% session[:nota_entrada_itens].each do |item|%>
				<tr>
					<td><%= item[:id] %></td>
					<td><%= Produto.find(item[:id]).descricao %>
					<td><%= item[:quantidade] %></td>
					<td><%= item[:valor_unitario]%></td>
					<td><%= item[:quantidade].to_f * item[:valor_unitario].to_f %></td>
					<td><a href="#" id="<%= item[:id]%>" onclick="exclui_item(this)">Excluir</a></td>
				</tr>
			<% end %>
		<% end %>
		
	</table>
</table>

 
<% end %>

 <style>
	.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }
	#descricao_produto { width: 25em; }
 </style>
<script>
//EXCLUIR ITEM DA NOTA
	var exclui_item = function(item){
		item_id = item.id;
		$.post(
			'/exclui_produto_nota',
			{item_id:item_id},
			function(){
				 window.location.reload();
			}
		);
	}
	
	var pesquisa_produto = function(value){
		var id = value;
		$.get(
			'/localiza_produto_id',
			{id:id},
			function(retorno){
				if (retorno == null){
					alert('Produto não encontrado!');
				}else{
					$('#descricao_produto').val(retorno.descricao);
					$('#quantidade_produto').focus();
				}
			}
		);
	}
	
//AUTO-COMPLETE
	$(function() {
		
		$( "#data_emissao" ).datepicker({
			dayNames: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabádo"],
			dayNamesMin: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
			dateFormat: "dd/mm/yy"
		});
		
		$( "#data_entrada" ).datepicker({
			dayNames: ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabádo"],
			dayNamesMin: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
			dateFormat: "dd/mm/yy"
		});
	});

	$(function() {
		function log( message ) {
			$( "<div/>" ).text( message ).prependTo( "#log" );
			$( "#log" ).scrollTop( 0 );
		}

		$( "#descricao_produto" ).autocomplete({
			source: "/pesquisa_nota_entrada",
			minLength: 2,
			select: function( event, ui ) {
				log( ui.item ?
					"Selected: " + ui.item.value + " aka " + ui.item.id :
					"Nothing selected, input was " + this.value );
					$('#codigo_produto').val(ui.item.id);
					$('#quantidade_produto').focus();
			}
		});
	});
	
//ATUALIZA TOTAL DO ITEM QUE ESTÁ SENDO INSERIDO

	var atualiza_total_item = function(){
		$("#valor_total_item").val($("#quantidade_produto").val() * $("#valor_unitario").val())
	}

//INSERIR PRODUTOS NA NOTA
	var valida_produto = function(){
		inseri_produto_nota($('#codigo_produto').val(), $('#quantidade_produto').val(), $('#valor_unitario').val());
	}
	
	var inseri_produto_nota = function(id, quantidade, valor_unitario){
		var nota_numero    = $("#nota_entrada_numero").val();
		var data_emissao   = $("#data_emissao").val();
		var data_entrada   = $("#data_entrada").val();
		var fornecedor_id  = $("#fornecedor_id").val();
		var valor_produtos = $("#nota_entrada_valor_produtos").val();
		var valor_despesas = $("#nota_entrada_valor_despesas").val();
		var valor_total    = $("#nota_entrada_valor_total").val();
		
		$.post(
			'/inseri_produto_nota',
			{
				id:id,
				quantidade:quantidade,
				valor_unitario:valor_unitario,
				nota_numero:nota_numero,
				data_emissao:data_emissao,
				data_entrada:data_entrada,
				fornecedor_id:fornecedor_id,
				valor_produtos:valor_produtos,
				valor_despesas:valor_despesas,
				valor_total:valor_total
			},
			function(){
				 window.location.reload();
			}
		);
	}
	
//FECHAR NOTA
	var valida_nota_entrada = function(){
		fecha_nota_entrada();
	}
	
	var fecha_nota_entrada = function(){
		
		$.post(
			'/fecha_nota_entrada',	
			{},
			function(){}
		);
	}	
</script>
	
	

