<%= form_for(@nota_entrada) do |f| %>
  <% if @nota_entrada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nota_entrada.errors.count, "error") %> prohibited this nota_entrada from being saved:</h2>

      <ul>
      <% @nota_entrada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
  	<tr>
  		<td>
  			<div class="field">
			    <%= f.label :numero %><br />
			    <%= f.text_field :numero, :size => '10' %>
		    </div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :data_emissao %><br />
			    <%= f.date_select :data_emissao %>
		    </div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :data_entrada %><br />
			    <%= f.date_select :data_entrada %>
		    </div>
  		</td>
  	</tr>
  	<tr>
  		<td>
  			<div class="field">
			    <%= f.label :fornecedor %><br />
			     <%= select("post", "Fornecedor", Fornecedor.all.collect {|p| [ p.descricao, p.id ] }, {:include_blank => 'Selecione um fornecedor'}) %>
  			</div>
  		</td>
  		<td>
  			 <div class="field">
			    <%= f.label :valor_produtos %><br />
			    <%= f.text_field :valor_produtos, :size => '10' %>
		  	</div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :valor_despesas %><br />
			    <%= f.text_field :valor_despesas, :size => '10' %>
		  	</div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :valor_total %><br />
			    <%= f.text_field :valor_total, :size => '10' %>
		  	</div>
  		</td>
  	</tr>
  </table>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
