<%= form_for(@nota_entrada) do |f| %>
<%= csrf_meta_tags %>
  <% if @nota_entrada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nota_entrada.errors.count, "error") %> prohibited this nota_entrada from being saved:</h2>

      <ul>
      <% @nota_entrada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
  	<tr>
  		<td>
  			<div class="field">
			    <%= f.label :numero %><br />
			    <%= f.text_field :numero, :size => '10' %>
		    </div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :data_emissao %><br />
			    <%= f.date_select :data_emissao %>
		    </div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :data_entrada %><br />
			    <%= f.date_select :data_entrada %>
		    </div>
  		</td>
  	</tr>
  	<tr>
  		<td>
  			<div class="field">
			    <%= f.label :fornecedor %><br />
			    <%= select("post", "Fornecedor", Fornecedor.all.collect {|p| [ p.descricao, p.id ] }, {:include_blank => 'Selecione um fornecedor'}) %>
  			</div>
  		</td>
  		<td>
  			 <div class="field">
			    <%= f.label :valor_produtos %><br />
			    <%= f.text_field :valor_produtos, :size => '10' %>
		  	</div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :valor_despesas %><br />
			    <%= f.text_field :valor_despesas, :size => '10' %>
		  	</div>
  		</td>
  		<td>
  			<div class="field">
			    <%= f.label :valor_total %><br />
			    <%= f.text_field :valor_total, :size => '10' %>
		  	</div>
  		</td>
  	</tr>
  </table>
 <input type="text" size="10" id="codigo_produto" onblur="pesquisa_produto(this.value);"/>
 <input type="text" size="50" id="descricao_produto" name="descricao_produto"  class="ui-autocomplete-input ui-corner-all" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"	/>
 <input type="text" size="5" id="quantidade_produto" name="quantidade_produto"/>
 <input type="button" value="Inserir" onclick="valida_produto();"/>
 <input type="button" value="Fechar Nota" onclik="valida_nota_entrada()"/>
 <input type="submit" value="Cancelar Nota" />
 
<table id='items_table'>
	<table>
		<tr>
			<td>Codigo</td>
			<td>Descricão</td>
			<td>Quantidade</td>
			<td>Excluir</td>	
		</tr>
		<% if not session[:nota_entrada_itens].nil? %>
			<% session[:nota_entrada_itens].each do |item|%>
				<tr>
					<td><%= item[:id] %></td>
					<td><%= Produto.find(item[:id]).descricao %>
					<td><%= item[:quantidade] %></td>
					<td><a href="#" id="<%= item[:id]%>" onclick="exclui_item(this)">Excluir</a></td>
				</tr>
			<% end %>
		<% end %>
		
	</table>
</table>

 
<% end %>

 <style>
	.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }
	#descricao_produto { width: 25em; }
 </style>
<script>
//EXCLUIR ITEM DA NOTA
	var exclui_item = function(item){
		item_id = item.id;
		$.post(
			'/exclui_produto_nota',
			{item_id:item_id},
			function(){
				 window.location.reload();
			}
		);
	}
	
	var pesquisa_produto = function(value){
		var id = value;
		$.get(
			'/localiza_produto_id',
			{id:id},
			function(retorno){
				if (retorno == null){
					alert('Produto não encontrado!');
					
				}else{
					$('#descricao_produto').val(retorno.descricao);
					$('#quantidade_produto').focus();
				}
			}
		);
	}
	
//AUTO-COMPLETE
	$(function() {
		function log( message ) {
			$( "<div/>" ).text( message ).prependTo( "#log" );
			$( "#log" ).scrollTop( 0 );
		}

		$( "#descricao_produto" ).autocomplete({
			source: "/pesquisa_nota_entrada",
			minLength: 2,
			select: function( event, ui ) {
				log( ui.item ?
					"Selected: " + ui.item.value + " aka " + ui.item.id :
					"Nothing selected, input was " + this.value );
					$('#codigo_produto').val(ui.item.id);
					$('#quantidade_produto').focus();
			}
		});
	});

//INSERIR PRODUTOS NA NOTA
	var valida_produto = function(){
		inseri_produto_nota($('#codigo_produto').val(), $('#quantidade_produto').val());
	}
	
	var inseri_produto_nota = function(id, quantidade){
		$.post(
			'/inseri_produto_nota',
			{id:id, quantidade:quantidade},
			function(){
				 window.location.reload();
			}
		);
	}
</script>
	
	

