<%= render :partial => 'menu_fornecedores' %>
<div class="grid_10">
	<div class="box round">
<h2>Listar Fornecedores</h2>

<table>
  <tr>
    <th>Descricao</th>
    <th>Logradouro</th>
    <th>End numero</th>
    <th>Complemento</th>
    <th>Telefone1</th>
    <th>Telefone</th>
    <th>Cidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fornecedors.each do |fornecedor| %>
  <tr>
    <td><%= fornecedor.descricao %></td>
    <td><%= fornecedor.logradouro %></td>
    <td><%= fornecedor.end_numero %></td>
    <td><%= fornecedor.complemento %></td>
    <td><%= fornecedor.telefone1 %></td>
    <td><%= fornecedor.telefone %></td>
    <td><%= fornecedor.cidade %></td>
    <td><%= link_to 'Show', fornecedor %></td>
    <td><%= link_to 'Edit', edit_fornecedor_path(fornecedor) %></td>
    <td><%= link_to 'Destroy', fornecedor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fornecedor', new_fornecedor_path %>
</div>
</div>
