<%= render :partial => 'menu_subgrupos' %>
<div class="grid_10">
	<div class="box round">
<h2>Listar Subgrupos</h2>

<table>
  <tr>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subgrupos.each do |subgrupo| %>
  <tr>
    <td><%= subgrupo.descricao %></td>
    <td><%= link_to 'Show', subgrupo %></td>
    <td><%= link_to 'Edit', edit_subgrupo_path(subgrupo) %></td>
    <td><%= link_to 'Destroy', subgrupo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subgrupo', new_subgrupo_path %>
</div>
</div>
