<%= form_for @kit do |f| %>
  <% if @kit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kit.errors.count, "error") %> prohibited this kit from being saved:</h2>

      <ul>
      <% @kit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
	<a href="/pesquisa_descricao">Inserir Item</a>
  </div>
	<div style="background-color: #B6B6B6	">
		<% if not session[:items].nil? %>
		<table><tr><th>Descricao</th><th>Quantidade</th><th>Excluir</th>
			<% session[:items].each do |item| %>
				<% produto = Produto.find(item[:id]) %>
			<tr>
				<td><%= produto.descricao %></td>
				<td><input type="text" size="3" id="quantidade_<%= produto.id %>" name="quantidade_<%= produto.id %>"></td>
				<td><a href="/excluir_item_kit?id=<%= produto.id %>">excluir</a></td>
			</tr>
			<% end %>
		</table>
		<% end %>
		
	</div>	
	<div class="field">
	    <%= f.label :descricao %><br />
	    <%= f.text_field :descricao %><br />
	    <%= f.label :Valor %><br />
	    <%= f.text_field :preco_venda, :size => 5%>
	    <input type="button" value="Criar Kit" onClick="validaKit();">
 	</div>

<% end %>


<script>

	var validaKit = function(){
		var erro = true;
		$('input[id*="quantidade_"]').each(
			function(i, e){
				if( $(e).val() == "" && $(e).val() < 1){
					erro = false;
					alert("Não pode haver Produto sem quantidade!");
					return false;
				}
			}
		);
		if(erro){
			//$('#new_kit').submit();
			preparaEnvio();
		}
	}
	
	var preparaEnvio = function(){
		var items = "";
		var produtos = new Array;
		$('input[id*="quantidade_"]').each(
			function(i, e){
				produtos.push(i);
				var elemento = $(e).attr("id");
				elementos = elemento.split("_");
				items += elementos[1];
				items += "_";
				items += $(e).val();
				if($('input[id*="quantidade_"]').length > (i+1)) items += "|"; 
			}
		);
		enviaKit(items);
	}
	
	var enviaKit = function(items){
		// var descricao   = $('#descricao').val();
		// var preco_venda = $('#preco_venda').val();
		// var csrf_token   = $('#csrf_token').val();
// 		
		// alert(csrf_token);
		// $.post(
			// '/kits/novo',
			// {items:items, descricao:descricao, preco_venda:preco_venda, csrf_token:csrf_token},
			// function(){}		
		// );		
		$("#new_kit").submit();
	}
</script>