<%= render :partial => 'menu_kits' %>
<div class="grid_10">
	<div class="box round">
<h2>Lista de Kits</h2>

<table>
  <tr>
    <th>Descricao</th>
    <th></th>
    
  </tr>

<% @kits.each do |kit| %>
  <tr>
    <td><label><%= kit.descricao %></label>
    
	    <% itemKit = ItemKit.find(:all, :conditions => ["kit_id = ?", kit.id]) %>
	    <% itemKit.each do |i|%>
	    <br />
	    	<% produto = Produto.find(i.id)%>
	    	<%= produto.descricao %>
	    <% end %>
  	</td>
  
    <td> <%= link_to 'Show', kit %> <%= link_to 'Edit', edit_kit_path(kit) %> 
    <%= link_to 'Destroy', kit, confirm: 'Are you sure?', method: :delete %></td>
  
<% end %>
</table>

<%= link_to 'New Kit', new_kit_path %>
</div>
</div>
