<%= form_for(@rotum) do |f| %>
  <% if @rotum.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@rotum.errors.count, "error") %> prohibited this rotum from being saved:</h>

      <ul>
      <% @rotum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div>
 	Cidade<br />
 	<%= select :cidade, :id,  @cidades.collect {|c| [c.nome, c.id]}, {:include_blank => 'Selecione um vendedor'} %>
 </div>
 <div>
 	Vendedor<br />
 	<%= select :vendedor, :id, @vendedores.collect {|p| [ p.nome, p.id ] }, {:include_blank => 'Selecione um vendedor'} %>
 </div>
 <div>
 	Observacao<br />
 	<textarea id="observacao" name="observacao" ></textarea>
 </div> 

 <table >
 	<tr>
 		<th>Descricao</th>
 		<th>Preco Venda</th>
 		<th>Quantidade</th>
 	</tr>
 	<% @kits.each do |kit|%>
 		<tr>
 			<td><%= kit.descricao%></td>
 			<td><%= kit.preco_venda%></td>
 			<td>
 				<input type="text" size="5" id="quantidade_kit_<%= kit.id %>" name="quantidade_kit_<%= kit.id %>">
 				<a href="#" onclick="aumentaQuantidade('quantidade_kit_<%= kit.id%>')"><%= image_tag "Button-Add-icon.png", :size => "15x15" %></a>
 				<a href="#" onclick="diminuiQuantidade('quantidade_kit_<%= kit.id%>')"><%= image_tag "Button-Delete-icon.png", :size => "15x15" %></a>
 			</td>
 		</tr>
 	<% end %>
 </table>

 	<div class="rota_titulo">Brindes</div>
 <table>
 	<tr>
 		<th>Descricao</th>
 		<th>Preco Venda</th>
 		<th>Quantidade</th>
 	</tr>
 	<% @brindes.each do |brinde|%>
 		<tr>
 			<td><%= brinde.descricao%></td>
 			<td><%= brinde.preco_venda%></td>
 			<td>
 				<input type="text" size="5" id="quantidade_brinde_<%= brinde.id %>" name="quantidade_brinde_<%= brinde.id %>">
 				<a href="#" onclick="aumentaQuantidade('quantidade_brinde_<%= brinde.id%>')"><%= image_tag "Button-Add-icon.png", :size => "15x15" %></a>
 				<a href="#" onclick="diminuiQuantidade('quantidade_brinde_<%= brinde.id%>')"><%= image_tag "Button-Delete-icon.png", :size => "15x15" %></a>
 			</td>
 		</tr>
 	<% end %>
 </table>	
 <div class="actions">
    <input type="button" onclick="preparaRota();" value="Criar Rota">
  </div>  
  
<% end %>

<script type="text/javascript">
	var preparaRota = function(){
		$("#new_rotum").submit();
	}
	
	var aumentaQuantidade = function(elemento_id){
		if($("#" + elemento_id) != "" && $("#" + elemento_id) > 0 ){
			valor++;
			$("#"+elemento_id).val() = valor;
		}else{
			$("#"+elemento_id).val() = 1;
		}
	}
	
	var diminuiQuantidade = function(elemento_id){
		alert(elemento_id);
	}
</script>
	