<%= form_for(@rotum) do |f| %>
  <% if @rotum.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@rotum.errors.count, "error") %> prohibited this rotum from being saved:</h>

      <ul>
      <% @rotum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 Cidade
 <%= select("post", "cidade", Cidade.all.collect {|p| [ p.nome, p.id ] }, {:include_blank => 'Selecione a cidade'}) %>
 Vendedor
 <%= select("post", "vendedor", Vendedor.all.collect {|p| [ p.nome, p.id ] }, {:include_blank => 'Selecione um vendedor'}) %>
 <br />
 Observacao
 <textarea id="observacao" name="observacao" ></textarea>
  
  <div class="actions">
    <input type="button" onclick="preparaRota();" value="Criar Rota">
  </div>
<% end %>
	<!-- Inserindo Kits nas rotas  -->
	<div><input type="button" onclick="adicionaKit();" value="Adicionar Kit"></div>
	<div>
		<% if not session[:items_rota].nil? %>
		<table class="table_items">
			<tr><th>Descricao</th><th>Quantidade</th><th>Excluir</th>
			<% session[:items_rota].each do |item| %>
				<% kit = Kit.find(item[:id]) %>
			<tr>
				<td><%= kit.descricao %></td>
				<td><input type="text" size="3" id="kit_quantidade_<%= kit.id %>"></td>
				<td><a href="/rota/excluir_item_kit?id=<%= kit.id %>">excluir</a></td>
			</tr>
			<% end %>
		</table>
		<% end %>
	</div>	
	<!-- Inserindo Brindes nas rotas  -->
	<div><input type="button" onclick="adicionaBrinde();" value="Adicionar Brinde"></div>

	<div>
		<% if not session[:items_brinde].nil? %>
		<table class="table_items">
			<tr><th>Descricao</th><th>Quantidade</th><th>Excluir</th>
			<% session[:items_brinde].each do |item| %>
				<% produto = Produto.find(item[:id]) %>
			<tr>
				<td><%= produto.descricao %></td>
				<td><input type="text" size="3" id="brinde_quantidade_<%= produto.id %>"></td>
				<td><a href="/rota/excluir_item_brinde?id=<%= produto.id %>">excluir</a></td>
			</tr>
			<% end %>
		</table>
		<% end %>
		
	</div>	

<script type="text/javascript">
	var adicionaKit = function(){
		window.location="/rota/pesquisa_kit";  
	}
	
	var adicionaBrinde = function(){
		window.location="/rota/pesquisa_brinde"
	}
	
	var validaForm = function(){
		erro = "";
		//valida campo cidade
		if($("#post_cidade").val() == ""){ 
			erro += "Escolha uma cidade!\n";
		 }
		 //valida campo vendedor
		if($("#post_vendedor").val() == ""){
			erro += "Escolha um vendedor\n";
		 }
		 //valida se existem kit e se foi colocado quantidade
		 if($('input[id*="kit_quantidade"]').length < 1){
		 	erro += "Insira um kit!\n";
		 }else{
		 	msn = "";
		 	$('input[id*="kit_quantidade_"]').each(function(i, e){
		 		if($(e).val() == "" ){
		 			msn += "Existe(m) kit(s) sem quantidade!\n";
		 		}
		 	});	
		 	erro += msn;
		 }
		 //valida se existem brindes e se foi colocado quantidade
		 if($('input[id*="brinde_quantidade"]').length < 1){
		 	erro += "Insira um brinde!\n";
		 }else{
		 	msn = "";
		 	$('input[id*="brinde_quantidade_"]').each(function(i, e){
		 		if($(e).val() == "" ){
		 			msn += "Existe(m) brinde(s) sem quantidade!\n";
		 		}
		 	});	
		 	erro += msn;
		 }
		 
		 return erro;
	}
	
	var preparaRota = function(){
		if(validaForm()){
			alert(erro);
		}else{
			var cidade = $("#post_cidade").val();
			var vendedor = $("#post_vendedor").val();
			kits = preparaKit();
			brindes = preparaBrinde();
			$.post(
				'/rota/nova',
				{cidade:cidade, vendedor:vendedor, kits:kits, brindes:brindes},
				function(){}
			);
		}
	}
	
	var preparaKit = function(){
		var items = "";
		var produtos = new Array;
		$('input[id*="kit_quantidade_"]').each(
			function(i, e){
				produtos.push(i);
				var elemento = $(e).attr("id");
				elementos = elemento.split("_");
				items += elementos[2];
				items += "_";
				items += $(e).val();
				if($('input[id*="kit_quantidade_"]').length > (i+1)) items += "|"; 
			}
		);
		return items;
	}
	
	var preparaBrinde = function(){
		var items = "";
		var produtos = new Array;
		$('input[id*="brinde_quantidade_"]').each(
			function(i, e){
				produtos.push(i);
				var elemento = $(e).attr("id");
				elementos = elemento.split("_");
				items += elementos[2];
				items += "_";
				items += $(e).val();
				if($('input[id*="brinde_quantidade_"]').length > (i+1)) items += "|"; 
			}
		);
		return items;
	}

</script>
