<form id="formConferencia" method="post" action="/rota/processa_conferencia">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<h3>Produtos</h3>
	<table>
		<tr>
			<th>
				Código
			</th>
			<th>
				Descricao
			</th>
			<th>
				Quantidade
			</th>
			<th>
				Retorno
			</th>
			<th>
				Dividido
			</th>
		</tr>
		<% @rotaKits.each do |itemRota|%>
			<tr>
				<td>
					<%= itemRota.item_id %>
				</td>
				<td>
					<%= Kit.find(itemRota.item_id).descricao %>
				</td>
				<td>
					<%= itemRota.quantidade %>
				</td>
				<td>
					<input type="text" name="kit_<%= Kit.find(itemRota.item_id).id %>" id="kit_<%= Kit.find(itemRota.item_id).id %>" size=5/>
				</td>
				<td>
					<input type="text" name="dividido_<%= Kit.find(itemRota.item_id).id %>" id="dividido_<%= Kit.find(itemRota.item_id).id %>" size=5/>
				</td>
			</tr>
		<% end %>
	</table>
	
	<h3>Brindes</h3>
	<table>
		<tr>
			<th>
				Código
			</th>
			<th>
				Descricao
			</th>
			<th>
				Quantidade
			</th>
			<th>
				Retorno
			</th>
		</tr>
		<% @rotaBrindes.each do |itemRota|%>
			<tr>
				<td>
					<%= itemRota.item_id %>
				</td>
				<td>
					<%= Produto.find(itemRota.item_id).descricao %>
				</td>
				<td>
					<%= itemRota.quantidade %>
				</td>
				<td>
					<input type="text" name="brinde_<%= itemRota.id%>" id="brinde_<%= itemRota.id%>" size=5/>
				</td>
			</tr>
		<% end %>
	</table>
	<input type="button" value="Finalizar" onclick="validaform();">
</form>

<script>
	var validaform = function(){
		$("#formConferencia").submit();
	}
</script>

