<%= render :partial => 'menu_rotas' %>
<div class="grid_10">
	<div class="box round">
<h2>Retorno</h2>
<table> 
	<tr>
		<th>Vendedor</th>
		<th>Cidade</th>
		<th>Data</th>
		<th>Conferente Saída</th>
		<th>Observação</th>
		<th>Selecionar</th>
	</tr>
	<% @rotas.each do |rota| %>
		<tr>
			<td><%= Vendedor.find(rota.vendedor_id).nome %></td>
			<td><%= Cidade.find(rota.cidade_id).nome %></td>
			<td><%= rota.created_at.to_date %></td>
			<td>Conferente Saída</td>
			<td><textarea><%= rota.observacao %></textarea></td>
			<td>
				
			 	<%= link_to (image_tag 'receive_icon.png', :class => 'css', :size => '30x30'),
        		({:controller => 'rota', :action => 'retorno_rota_result', :id => rota.id})
        		%>

			 </td>
		</tr>
	<% end %>
</table>
</div>
</div>
