<p id="notice"><%= notice %></p>

<p>
  <b>Razao:</b>
  <%= @empresa.razao %>
</p>

<p>
  <b>Fantasia:</b>
  <%= @empresa.fantasia %>
</p>

<p>
  <b>Telefone1:</b>
  <%= @empresa.telefone1 %>
</p>

<p>
  <b>Telefone2:</b>
  <%= @empresa.telefone2 %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @empresa.logradouro %>
</p>

<p>
  <b>End numero:</b>
  <%= @empresa.end_numero %>
</p>

<p>
  <b>Complemento:</b>
  <%= @empresa.complemento %>
</p>

<p>
  <b>Cidade:</b>
  <%= @empresa.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @empresa.estado %>
</p>

<p>
  <b>Contato:</b>
  <%= @empresa.contato %>
</p>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
